.btn-cookie{
    height: 40px;
    text-align: center;
    border-radius: 5px;
}

.ctn-cookie{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 20vh;
    padding: 8px;
    background-color:rgba(23, 22, 21,0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2px;
}
