$background-color: #EBF4F6;
html,body{
    margin: 0;
    padding: 0;
}
body{
    background: $background-color;
}

@mixin btn-link(){
    text-decoration: none;
    color: black;
}

@mixin btn-hover(){
    font-weight: bold;
    color: rgb(7, 25, 82);
}


